@font-face {
  font-family: 'impactregular';
  src: url('unicode.impact-webfont.woff2') format('woff2'),
       url('unicode.impact-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,body{
  font-family: "Karla", sans-serif;
  max-width: 550px;
  padding:0;
  margin:0  auto;
  height: 100vh;
  /* border:1px solid black */
}

/*typography*/
.page-title{
  font-size: 1.3rem;
  margin-right:auto ;
}

/*layout*/
#root{
  height: 100%;
  display: flex;
  flex-direction: column;
}

main{
  flex:1;
  display: flex;
  flex-direction: column;
  /* border:1px solid pink; */
}

.meme-container{
  /* flex:1; */
  height:500px;
  /* border:1px solid purple; */
}


header{
  display: flex;
  align-items: center;
  gap:0.4em;
  padding:0  1.8em;
  height:65px ;
  color:#fff;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.form{
  margin: 1.75em 1.8em 2em;
}

.flex-tray{
  display: flex;
  justify-content: space-between;
}

.text-container{
  width: 47%;
}

label{
  display: block;
  font-size:0.875em;
  font-weight: 500;
}

input{
  font-size: 0.875em;
  font-weight: 400;
  font-family: inherit;
  padding:0.5em 1em;
  width: 100%;
  border-radius: 5px;
  border: 0.8px solid #D1D5DB;
  box-shadow: 0px 0.819px 1.637px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.15em;
}

button{
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  padding:0.5em 1em;
  color:#fff;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:active{
  position: relative;
  top:2px;
}

.meme-container{
  position: relative;
  font-family: 'impactregular';
  color:#fff;
  font-size: 2rem;
  text-align: center;
  margin:0 1.8rem 3.35rem;
  /* border: 1px solid black; */
  flex:1;
  display: flex;
  flex-direction: column;
}

.meme-image{
  position: relative;
  display: block;
  flex:1;
  width: 100%;
  max-width: 490px;
  height: 100%;
  max-height: 453px;
  object-fit:contain;
  /* border: 2px solid green; */
}

.meme-text{
  position: absolute;
  margin: 0;
  /* border: 1px solid hotpink; */
  width: 100%;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top{
  top:8px;
}

.bottom{
  bottom:8px;
}
/* .meme-image::after{
  content:'Hello';
  position: absolute;
  top:0;
  left: 0;
  color:white;
  font-size: 80px;
  background-color: red;
  z-index: 1;
} */
